<!-- location_app/templates/auth/register.html -->

{% extends "base.html" %}
{% block content %}
    <h2>Inscription</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </div>
        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </div>
        <div>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <p>Déjà inscrit ? <a href="{{ url_for('auth.login') }}">Connectez-vous</a></p>
{% endblock %}
